@font-face {
	font-family: 'robotolight';
	src: url('fonts/roboto-light-webfont.eot');
	src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-light-webfont.woff') format('woff'), url('fonts/roboto-light-webfont.ttf') format('truetype'), url('fonts/roboto-light-webfont.svg#robotolight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotomedium';
	src: url('fonts/roboto-medium-webfont.eot');
	src: url('fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-medium-webfont.woff') format('woff'), url('fonts/roboto-medium-webfont.ttf') format('truetype'), url('fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotoregular';
	src: url('fonts/roboto-regular-webfont.eot');
	src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-regular-webfont.woff') format('woff'), url('fonts/roboto-regular-webfont.ttf') format('truetype'), url('fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotothin';
	src: url('fonts/roboto-thin-webfont.eot');
	src: url('fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/roboto-thin-webfont.woff') format('woff'), url('fonts/roboto-thin-webfont.ttf') format('truetype'), url('fonts/roboto-thin-webfont.svg#robotothin') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'robotobold';
	src: url('fonts/roboto-bold-webfont.eot');
	src: url('fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('fonts/roboto-bold-webfont.woff') format('woff'),
	url('fonts/roboto-bold-webfont.ttf') format('truetype'),
	url('fonts/roboto-bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Reset */
* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
.links_page {
	min-height: 100%;
	padding-bottom: 100px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*background: #FCFCFC;*/
}
img {
	border: 0;
}
table {
	border-collapse: collapse;
}
ul {
	list-style: none;
}
:focus {
	outline: 0;
}
p {
	padding-bottom: 10px;
	line-height: 1.5;
}
a {
	text-decoration: none;
	color: #454545;
}
a:hover {
	text-decoration: underline;
}
body {
	color: #454545;
	font: 14px 'robotolight', Arial, sans-serif;
	min-width: 960px;
	/*background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI3JSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIwLjk4Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjcxJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIwLjk2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMC45NCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);*/
	/*background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(252,252,252,0.98) 27%, rgba(243,243,243,0.96) 71%, rgba(234,234,234,0.95) 87%, rgba(230,230,230,0.94) 100%);*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(27%,rgba(252,252,252,0.98)), color-stop(71%,rgba(243,243,243,0.96)), color-stop(87%,rgba(234,234,234,0.95)), color-stop(100%,rgba(230,230,230,0.94)));*/
	/*background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(252,252,252,0.98) 27%,rgba(243,243,243,0.96) 71%,rgba(234,234,234,0.95) 87%,rgba(230,230,230,0.94) 100%);*/
	/*background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(252,252,252,0.98) 27%,rgba(243,243,243,0.96) 71%,rgba(234,234,234,0.95) 87%,rgba(230,230,230,0.94) 100%);*/
	/*background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(252,252,252,0.98) 27%,rgba(243,243,243,0.96) 71%,rgba(234,234,234,0.95) 87%,rgba(230,230,230,0.94) 100%);*/
	/*background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(252,252,252,0.98) 27%,rgba(243,243,243,0.96) 71%,rgba(234,234,234,0.95) 87%,rgba(230,230,230,0.94) 100%);*/


	background: #fcfcfc;
}
.container {
	position: relative;
	width: 985px;
	margin: 0 auto;
}
.links_page:after,
.container:after,
.scroll_wrapper:after {
	content: "";
	display: block;
	clear: both;
}
.links_page .header {
	/*background: #ffffff;*/
	min-height: 105px;
	margin-bottom: 50px;
}
.links_page .slogan {
	font: 56px 'robotomedium', Arial, sans-serif;
	text-transform: uppercase;
	color: #bdbdbd;
	text-align: center;
	letter-spacing: 1px;
	top: 35px;
	position: relative;
	text-shadow: 0 -1px 1px rgba(255,255,255,1);
}

/* links block */
.links {
	position: relative;
	/*padding: 60px 0 0;*/
}
.links .container {
	border-top: 1px solid #dcdcdc;
	padding-top: 150px;
}
.links .col {
	width: 202px;
	display: inline-block;
	margin-left: 54px;
	vertical-align: top;
}
.links .col:first-child {
	margin-left: 0;
}
.links .col .text a {
	text-decoration: underline;
	color: #8362a6;
}
.links .link_item {
	border: 1px solid #dcdcdc;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	font: 20px 'robotobold', Arial, sans-serif;
	margin: 0 0 30px;
	padding: 32px 5px 23px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	color: #8362a6;

}
.links .link_item:hover {
	text-decoration: none;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #ededed 100%); /* W3C */
	border: 1px solid #8362a6;
}
.link_item .icon {
	display: block;
	background: url("../images/books_sprite.png") no-repeat;
	width: 120px;
	height: 88px;
	margin: 0 auto 30px;
}
.link_item .icon.ocean {
	background-position: -18px -11px;
}
.link_item .icon.bahai {
	background-position: -18px -164px;
}
.link_item .icon.audio {
	background-position: -18px -316px;
}
.link_item .icon.audio_by_words {
	background-position: -18px -453px;
}
.links .ocean_item .link_item {
	color: #006eb7;
}
.links .ocean_item .link_item:hover {
	border: 1px solid #006eb7;
}
.links .text {
	text-align: justify;
}
.links .ocean_item .text a {
	text-decoration: underline;
	color: #006eb7;
}
/* /links block */

/* footer */
.footer {
	background: #d6d6d6;
	height: 120px;
	text-align: center;
	position: relative;
	margin-top: -120px;
}
.footer .copyright {
	position: relative;
	top: 50px;
}
/* /footer */
